* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin-top: 60px;
    background-color: #FAF5EA;
    font-weight: 300;
}

a {
    color: #000;
}

.navbar label, .navbar input {
    font-size: 1.25em;
    line-height: 30px;
    margin: 0 5px;
}

@media (max-width: 600px) {
    .navbar label {
        display: none;
    }
}

.player .name, .player .score {
    font-size: 1.15em;
    padding: 10px;
    line-height: 1.5em;
}

.player i {
    font-size: 1.5em;
    line-height: 1em;
    vertical-align: -10%;
}

.alert {
    text-align: center;
    margin: 0 10%;
}
