* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin-top: 60px;
    background: #FAF5EA;
    font-weight: 300;
}

a {
    color: #000;
}

.navbar {
    z-index: 1;
}

.navbar label, .navbar input {
    font-size: 1.25em;
    line-height: 30px;
    margin: 0 5px;
}

.navbar input {
    width: 8em;
}

.navbar .button {
    font-size: 1.25em;
    line-height: 1em;
    padding: 5px 20px;
}

@media (max-width: 600px) {
    .navbar label {
        display: none;
    }
}

#content {
    margin: 0 15%;
}

.alert {
    text-align: center;
    margin: 0 10%;
}

#players {
    float: left;
}

#bars {
overflow: hidden;
}

.player, .bar {
    margin-bottom: 5px;
}

.player .name, .player .score {
    font-size: 1.15em;
    padding: 10px;
    line-height: 1.5em;
}

.player i, .bar i {
    font-size: 1.5em;
    line-height: 1em;
    vertical-align: -10%;
}

.bar {
    background: #44a340;
    overflow: hidden;
    position: relative;
}

.slider {
    overflow: hidden;
    position: relative;
    background: #FAF5EA;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
}

