<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= @title %></title>
<link rel="stylesheet" type="text/css" href="/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" type="text/css" href="/bijou/bijou.min.css">
<link rel="stylesheet" type="text/css" href="/nprogress/nprogress.css">
<link rel="stylesheet" type="text/css" href="/custom/main.css">
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600'>
<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/nprogress/nprogress.min.js"></script>
</head>
<body>
<div class="navbar fixed">
  <div class="pull-right">
    <form action="/" method="GET">
      <label for="name">Look up a GitHub user:</label>
      <input type="text" name="name"/>
      <button class="button primary small" type="submit">Show!</button>
    </form>
  </div>
</div>
<%= yield %>
</body>
</html>
