<div id='scoreboard'>
</div>
<script>
var player_one = "<%= @player_one %>";
<%= "var preload = #{@preload};" if @preload%>
</script>
<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/scoreboard.js"></script>
