<% full, hollow = @preload.partition { |x| x[:score] } if @preload %>
<div id="scoreboard">
  <% if full %>
    <% full.sort_by! { |x| x[:score] }.reverse.each do |row| %>
      <%= load_row(row) %>
    <% end %>
  <% end %>
</div>
<script>
var player_one = "<%= @player_one %>";
<%= "var preload = #{hollow.to_json};\n" if @preload %>
<%= "var max = #{@preload ? @preload.map { |x| x.fetch(:score, 0) }.max : 0};\n"%>
</script>
<script type="text/javascript" src="/custom/scoreboard.js"></script>
